# Logs
logs
*.log
npm-debug.log*
package-lock.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
client/node_modules/
client/.pnp
client/.pnp.js

# Optional npm cache directory
.npm

# Temp assets
uploads/*
!uploads/.gitkeep

.DS_Store
