#audio-player-container {
	position: fixed;
	bottom: 0;
}

#audio-player-controller {
	width: 100vw;
}

.track-card {
	background-color: #f2f2f2;
	padding: 5px;
}

.track-info {
	font-family: Arial;
}

.track-info p {
	margin: 5px 5px;
}

.track-info a {
	text-decoration: none;
}

.card-text {
	display: inline-block;
}

.card-play-btn {
	float: right;
}